$bg-blue-alpha:linear-gradient(to left,rgba(121, 209, 239,.5),rgba(47, 82, 139,.5)) ;
$bg-blue:linear-gradient(to bottom,rgb(121, 209, 239),rgb(47, 82, 139));
$bg-green:linear-gradient(to bottom,rgb(175, 221, 111),rgb(25, 101, 82)); 

